.graphContainer {
  display: flex;
  width: 100%;
  height: auto;
  border: 2px solid #dfe0eb;
  border-radius: 10px;
  background-color: white;
}

.graph {
  height: auto;
  width: 70%;
  margin: 0;
  padding: 20px;
}
.columns {
  height: auto;
  width: 30%;
  border-left: 2px solid #dfe0eb;
}
